.hide {
    display: none;
}
body {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1440px;
    width: 100%;
    overflow-x: hidden;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.logo-container {
    display: flex;
    align-items: center;
}
section.description {
    display: flex;
    flex-direction: column;
}

/*Desktop*/
@media screen and (min-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    header {
        width: 90%;
    }
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    .hamburger {
        display: none;
    }
    .description-container {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    section.description {
        width: 45%;
        min-width: 540px;
        gap: 15px;
        padding-left: 10px;
    }
    .description-img {
        height: 380px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .right-shape {
        left: 50%;
    }
    .left-shape {
        right: 50%;
    }
    .shape {
        position: absolute;
        width: 1000px;
        height: 352px;
        background-color: var(--soft-blue);
        border-radius: 316.5px;
        top: 100px;
    }
    .image-container {
        overflow-x: visible;
        width: 50%;
        height: 500px;
    }
}
@media screen and (max-width: 999px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    nav {
        display: none;
    }
}
