.hide {
    display: none;
}
body {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1440px;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.logo-container {
    display: flex;
    align-items: center;
}
section.description {
    display: flex;
    flex-direction: column;
}

/*Desktop*/
@media screen and (min-width: 1000px) {
    .container {
        gap: 50px;
    }
    header {
        width: 90%;
    }
    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    .hamburger {
        display: none;
    }
    .description-container {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    section.description {
        width: 45%;
        min-width: 540px;
        gap: 15px;
        padding-left: 10px;
    }
    .description-img {
        max-width: 540px;
        height: 380px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .right-shape {
        left: 50%;
    }
    .left-shape {
        right: 50%;
    }
    .shape {
        position: absolute;
        width: 1000px;
        height: 352px;
        background-color: var(--soft-blue);
        border-radius: 316.5px;
        top: 100px;
    }
    .image-container {
        overflow-x: visible;
        height: 500px;
    }
    .tabs {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--border-color);
        width: 730px;
    }
    .tab {
        padding-bottom: 20px;
        flex-grow: 1;
        text-align: center;
    }
    .tab.active-tab {
        border-bottom: 3px solid var(--soft-red);
    }
    .tab-target {
        max-width: 1200px;
        min-width: 1000px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: end;
    }
    .tab-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 445px;
        gap: 20px;
    }
    .tab-text h2 {
        text-align: left;
    }
}
@media screen and (max-width: 999px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    nav {
        display: none;
    }
}
