@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
    --soft-blue: #5368df;
    --soft-red: #fa5757;
    --grayish-blue: #9194a1;
    --dark-blue: #252b46;
    --dark: #242a45;
}
* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--dark);
}
a {
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1.5px;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
}
a:hover {
    color: var(--soft-red);
}
button {
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    padding: 12px 30px;
    border-width: 1px;
}
button:hover {
    background-color: white;
}
.red-button {
    border-color: var(--soft-red);
    background-color: var(--soft-red);
    color: white;
}
.red-button:hover {
    color: var(--soft-red);
}
.blue-button {
    border-color: var(--soft-blue);
    background-color: var(--soft-blue);
    color: white;
}
.blue-button:hover {
    color: var(--soft-blue);
}
p.description {
    opacity: 0.5;
}
img {
    z-index: 1;
}
@media screen and (min-width: 1000px) {
    h1 {
        font-family: inherit;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -0.15px;
        color: #242a45;
    }
}
