@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
    --soft-blue: #5368df;
    --soft-red: #fa5757;
    --grayish-blue: #9194a1;
    --dark-blue: #252b46;
    --dark: #242a45;
}
* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--dark);
}
a {
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1.5px;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
}
a:hover {
    color: var(--soft-red);
}
button {
    cursor: pointer;
}
.red-button {
    border: 1px solid var(--soft-red);
    border-radius: 5px;
    background-color: var(--soft-red);
    color: white;
}
.red-button:hover {
    background-color: white;
    color: var(--soft-red);
}
@media screen and (min-width: 1000px) {
    #login {
        text-transform: uppercase;
        width: 111px;
        height: 40px;
    }
}
